<% provide(:title, 'About') %>

<div class="jumbotron home-panel">
	<h1>About MONSTER Checkout</h1>
</div>

<div class="row">
	<div class="col-sm-8 col-sm-offset-2 about-container">
		<h1>What is it?</h1>
		<p>MONSTER Checkout is an interdisciplinary project created by Nate Norberg, Brian Maher, and Joe Sweeney to simplify the checkout process for the MSU Music Technology program.</p>

		<h1>Why the new system?</h1>
		<p>The old checkout system was simple and easy to follow, but it used a lot of paper. The new system follows the same procedure but you can use it anywhere. You only need to come to the building to check equipment in and out.</p>

		<h1>How was it made?</h1>
		<p>The original app was created in Python with the <a href="https://www.djangoproject.com">Django</a> framework. In order to make it easier to test and deploy, and to incorporate more things we've learned since we started, this site was built with <a href="http://rubyonrails.org">Ruby on Rails</a>, plus some other goodies like <a href="http://getbootstrap.com">Bootstrap</a>, <a href="http://fontawesome.io">FontAwesome</a>, and <a href="https://angularjs.org">AngularJS</a>.</p>
	</div>
</div>