<% provide(:title, 'Help') %>

<div class="jumbotron">
	<h1>MONSTER Checkout Help</h1>
</div>

<div class="row">
	<div class="col-sm-8 col-sm-offset-2 about-container">
		<p>If you have any questions or comments, please contact <a href="mailto:joseph.sweeney@montana.edu">Joe Sweeney</a>.</p>

		<p>If you've found an issue with the software, please report it on <a href="https://github.com/natenorberg/monstercheckout_rails/issues">GitHub</a>. You may need to create a free acount there first.</p>
	</div>
</div>