<% provide(:title, 'Home') %>

<div class="jumbotron">
	<h1 class="welcome-header">Welcome to MONSTER Checkout</h1>
</div>
<div class="row">
	<div class="home-item col-sm-4 col-sm-offset-1 text-center">
		<%= link_to reservations_path, class: 'quick_link' do %>
			<i class="fa fa-calendar fa-5x"></i>
			<h2>Reservations</h2>
			<p>Reserve equipment for a project or view a previous reservation.</p>
		<% end %>
	</div>
	<div class="home-item col-sm-4 col-sm-offset-1 text-center">
		<%= link_to equipment_index_path, class: 'quick_link' do %>
			<i class="fa fa-microphone fa-5x"></i>
			<h2>Equipment</h2>
			<p>Take a look at the equipment available for checkout.</p>
		<% end %>
	</div>
</div>
<div class="row">
	<div class="home-item col-sm-4 col-sm-offset-1 text-center">
		<%= link_to users_path, class: 'quick_link' do %>
			<i class="fa fa-users fa-5x"></i>
			<h2>Users</h2>
			<p>Administrator view of all the users in the system</p>
		<% end %>
	</div>
	<div class="home-item col-sm-4 col-sm-offset-1 text-center">
		<%= link_to '#', class: 'quick_link' do %>
			<i class="fa fa-key fa-5x"></i>
			<h2>Monitor</h2>
			<p>Dashboard for lab monitors to check equipment in and out.</p>
		<% end %>
	</div>
</div>
