<% provide(:title, 'Version 1.2') %>

<h1 class="page-header">Version 1.2 Release Notes</h1>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2 about-container">
    <h1>What's new?</h1>
    <ul>
      <li>Added categories for equipment</li>
      <li>Search auto-suggest</li>
      <li>Bug fixes and UI improvements</li>
    </ul>
  </div>
</div>
