<h2 style="font-weight: 300;padding: 0 20px;margin-bottom: 0px;font-size: 30px;">Hi <%= @reservation.user.first_name %>,</h2>

<p style="background-color: #eff6e4;margin-top: 10px;padding: 20px;font-size: 20px;">Your reservation for <%= @reservation.project %> has been approved! <br> You can pick it up at <%= @reservation.out_time.strftime(ReservationsHelper::LONG_DATETIME_FORMAT) %></p>

<% content_for :button_bar do %>
<a href="<%= reservation_url(@reservation) %>" style="color: white; background-color: #468cc8; border:1px solid #397fbb; border-radius: 4px; display: inline-block; margin: 0 4px 0 0; font-weight: normal; text-align: center; vertical-align: middle; white-space: nowrap; padding: 8px 15px; font-size: 14px; line-height: 1.428571429; text-decoration:none;">View Reservation</a>
<% end %>