<% provide(:title, "Editing #{@equipment.name}") %>

<!-- ng-candidate: Live update header text, possibly do something with subitems -->
<h1 class="page-header"><%= @equipment.name %></h1>

<%= render 'form' %>
