<div class="profile-pic">
	<%= gravatar_for(user, 120) %>
</div>
<div class="profile-info">
	<h2>
		<%= link_to user.name, user %>
		<% if user.is_admin? %> <i class="fa fa-rocket" title='Administrator access'></i><% end %>
		<% if user.is_monitor? && !user.is_admin? %> <i class="fa fa-key" title='Lab Monitor access'></i><% end %>
	</h2>

	<h4>
	  <a href="mailto:<%= user.email %>"><%= user.email %></a>
	</h4>
</div>
