<% if @user == current_user %> 
	<% provide(:title, 'Settings') %> 
<% else %> 
	<% provide(:title, @user.name) %>
<% end %>
<h1>Editing user</h1>

<%= render 'form' %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
