<div class="panel panel-default reservation-panel">
	<div class='panel-heading'>
		<h3 class="panel-title"><%= title %></h3>
	</div>
	<% if reservations.any? %>
	<ul class="list-group">
		<% reservations.each do |reservation| %>
			<li class="list-group-item">
				<%= render 'shared/icon_reservation', reservation: reservation %>
			</li>
		<% end %>
		<li class="list-group-item pagination-item">
			<%= will_paginate reservations, renderer: BootstrapPagination::Rails %>
		</li>
	</ul>
	<% else %>
		<div class="panel-body">
			<em>You have no reservations</em>
		</div>
	<% end %>
	<div class="panel-body">
		<%= link_to new_reservation_path, class: 'btn btn-large btn-primary' do %>
	      <i class="fa fa-plus"></i> New Reservation
	    <% end %>
	</div>
</div>