<div class="panel panel-default reservation-panel">
<div class='panel-heading'>
	<h3 class="panel-title"><%= title %></h3>
</div>
<% if reservations.any? %>
<ul class="list-group">
	<% reservations.each do |reservation| %>
		<li class="list-group-item">
			<%= render 'shared/user_reservation', reservation: reservation, show_approve_deny_buttons: show_approve_deny_buttons %>
		</li>
	<% end %>
</ul>
<% else %>
	<div class="panel-body">
		<em><%= empty_text ||= 'No reservations' %></em>
	</div>
<% end %>
</div>