<ol class="breadcrumb">
	<li><%= link_to 'Reservations', reservations_path %></li>
	<li><%= link_to @reservation.project, @reservation %></li>
	<li class="active">Edit</li>
</ol>

<h1 class="page-header">Editing reservation</h1>

<%= render 'form' %>