<h1 class="page-header">Your reservations</h1>

<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <table class="table table-striped">
    
      <tbody>
        <% @user_reservations.each do |reservation| %>
          <tr>
            <td>
              <%= render 'shared/icon_reservation', reservation: reservation %>
            </td>
            <td>
              <%= link_to edit_reservation_path(reservation), class: 'btn btn-large' do %>
                <i class="fa fa-pencil"></i> Edit
              <% end %>
              <% if reservation.can_cancel?(current_user) %>
                <%= link_to reservation, class: 'btn btn-large', method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <i class="fa fa-times"></i> Cancel
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to new_reservation_path, class: 'btn btn-large btn-primary' do %>
      <i class="fa fa-plus"></i> New Reservation
    <% end %>
  </div>
</div>

<br>

