@import "bootstrap";
@import 'bootstrap-datetimepicker';

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #f1f4f7;
 }

/* mixins */
@mixin box_sizing {
	-mox-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* variables */
$grayMediumLight: #eaeaea;
$grayDarker: #dddddd;
$grayLighter: #aaaaaa;

/* universal */ 

html {
  overflow-y: scroll;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

h2.inline-header, h3.inline-header {
  display: inline-block;
}

.no-padding {
  padding: 0;
}

a {
  color: #326fa7;
}

@media screen and (max-width:570px) {
    i.hide-small { display:none; }
    .hide-small { display:none; }
}

.show-small {
  display: none;
}

@media screen and (max-width:570px) {
    span.show-small { display:inline; }
}

.top-padding {
  height: 30px;
}

/* Fonts */
h1, h2, h3, h4, h5, h6{
	line-height: 1;
  margin-top: 0px;
}

h1 {
	font-size: 3em;
	margin-bottom: 30px;
	text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.page-header {
  margin-top: 30px;
  border: 0;
}

a.quick_link {
  color: #333;
  text-decoration: none;

  & > p {
    font-size: 20px;
    font-weight: 200;
    line-height: 27px;
  }

  > i {
    margin-bottom: 12px;
  }

  &:hover {
    color: #326fa7;
  }
}


/* Forms */
.input-group, .field_with_errors {
  > input, textarea {
    margin-bottom: 10px;
  }

  margin-bottom: 10px;
}

.field_with_errors {
  @extend .control-group;
  @extend .has-error;

  background-color: inherit;
}

.error_explanation {
  color: #f00;
}

/* Gravatars */
img.gravatar {
  border-radius: 100%;
  display: inline-block;

  &.gravatar-badge {
    border: 1px solid #ddd;
    padding: 3px;
  }
}

/* Debug */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  border-radius: 0;
  margin-bottom: 0;
  @include box_sizing;
}