@import "bootstrap";
@import 'bootstrap-datetimepicker';

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #f1f4f7;
 }

.panel-default {
  margin: 0 15px 20px 15px;
}

/* mixins */
@mixin box_sizing {
	-mox-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* variables */
$grayMediumLight: #eaeaea;
$grayDarker: #dddddd;
$grayLighter: #aaaaaa;

$fadeTransition: 0.2s ease-in-out all;

/* universal */ 

html {
  overflow-y: scroll;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

h2.inline-header, h3.inline-header, h4.inline-header {
  display: inline-block;
}

.no-padding {
  padding: 0;
}

a {
  color: #326fa7;
}

.button-container {
  margin-bottom: 10px;
  float: right;
}

.dashboard {
  &.row {
    margin: 0;
  }

  .col-sm-6 {
    padding: 0;
  }
}

@media screen and (max-width:570px) {
    i.hide-small { display:none; }
    .hide-small { display:none; }
}

.show-small {
  display: none;
}

@media screen and (max-width:570px) {
    span.show-small { display:inline; }
}

.top-padding {
  height: 30px;
}

.icon-background {
  width: 100% !important;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.1;
  font-size: 275px;
  text-align: center;
  margin-top: 43px; 
  color: #003978;
  z-index: -1;
}

.print-button {
  margin-bottom: 10px;
}

/* Breadcrumbs */
ol.breadcrumb {
  height: 36px;
  padding: 8px 15px;
  margin: 10px 10px;
  font-size: 14px;

  a {
    color: #4c89ca;
  }
}

/* Fonts */
h1, h2, h3, h4, h5, h6{
	line-height: 1;
  margin-top: 0px;
}

h1 {
	font-size: 3em;
	margin-bottom: 30px;
	text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.page-header {
  margin-top: 30px;
  border: 0;
}

a.quick_link {
  color: #333;
  text-decoration: none;

  & > p {
    font-size: 20px;
    font-weight: 200;
    line-height: 27px;
  }

  > i {
    margin-bottom: 12px;
  }

  &:hover {
    color: #326fa7;
  }
}


/* Forms */
.input-group, .field_with_errors {
  > input, textarea {
    margin-bottom: 10px;
  }

  margin-bottom: 10px;
}

.field_with_errors {
  @extend .control-group;
  @extend .has-error;

  background-color: inherit;
}

.error_explanation {
  color: #f00;
}

.form-divider {
  margin-bottom: 7px;
  border-bottom: 1px solid #ddd;
}

/* Gravatars */
img.gravatar {
  border-radius: 100%;
  display: inline-block;

  &.gravatar-badge {
    border: 1px solid #ddd;
    padding: 3px;
  }
}

/* Debug */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  border-radius: 0;
  margin-bottom: 0;
  @include box_sizing;
}

@media print {
  footer.footer,
  .debug_dump,
  .print-button {
    display: none;
  }

  img.gravatar {
    display: none;
  }

  .page-header {
    font-size: 25px;
  }

  /* Remove links added afterwards so that archive pages look right */
  a[href]:after {
    content: none;
  }
}
