// Place all the styles related to the Equipment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Equipment pages */
.equipment-table {
  border: 1px #ddd solid;
}

.edit_equipment, .new_equipment {
  > .form-control {
    margin-bottom: 15px;
  }
}

tr.equipment-denied-row {
  color: #888;
  font-style: italic;

  a {
  	color: #888;
  }
}

ul.contents-list {
  padding: 0;
  list-style-type: none;
}