@import "custom";

/* header */
.navbar-default .navbar-nav > li > a {
  font-size: 15px;
  & > .fa {
    margin-right: 3px;
  }
}

$bgDefault      : #326fa7;
$bgHover        : #2D6296;
$bgHighlight    : #225383;
$colDefault     : #ecf0f1;
$colHover       : #ffffff;
$colHighlight   : #ffffff;
.navbar-default {
  border-radius: 0px;
  background-color: $bgDefault;
  border-color: $bgHighlight;
  margin-bottom: 0px;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight;
    }
  }
  .navbar-text {
    color: $colDefault;
  }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        transition: $fadeTransition;
        &:hover,  &:focus {
          color: $colHighlight;
          background-color: $bgHover;
        }

        &:active {
          color: $colHighlight;
          background-color: $bgHighlight;
        }
      }
    }
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight;
      }
    }
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight;
      }
    }
  }
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight;
    }
    .icon-bar {
      background-color: $colDefault;
    }
  }
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault;
  }
  .navbar-link {
    color: $colDefault;
    &:hover {
    color: $colHighlight; }
  }
}
@media (max-width: 768px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight;
      }
    }
    > .active {
      > a, > a:hover, > a:focus, {
        color: $colHighlight;
        background-color: $bgHighlight;
      }
    }
  }

  #navbar_search_field {
    width: 200px;
  }
}

#navbar_search_field {
  margin-top: 6px;
  margin-bottom: 0;
}

#search_input_group {
  margin: 0;

  .twitter-typeahead {
    vertical-align: middle;
  }

  input {
    border-radius: 3px 0 0 3px;
  }
}

// typeahead.js styling

$dropdown-border: #c5c5c5;
$dropdown-hover: #f5f5f5;

.tt-menu {
  background-color: #fff;
  width: 100%;
  border: 1px solid $dropdown-border;
  border-radius: 0 0 3px 3px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);

  .search-section {
    background-color: $grayMediumLight;
    font-size: 18px;
    margin-bottom: 5px;
    padding: 4px;
    border: solid $dropdown-border;
    border-width: 1px 0;
  }

  .tt-suggestion {
    padding: 3px 20px;

    &:hover, &.tt-cursor {
      background-color: $dropdown-hover;
    }
  }

  .tt-dataset {
    padding-bottom: 5px;
  }
}

@media screen and (min-width:769px) and (max-width:1070px) {
  .nav-item-text {
    display: none;

    .active & {
      display: inline;
    }
  }

}
