.permission-subheader {
	text-align: center;
	font-weight: 200;
	margin-bottom: 25px;
}

.permission-middle {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

.permission_button {
	margin-left: 16px;
}

#permission_description {
	margin-bottom: 30px;
}

.select-all-row {
	background: #f8f8fa;
	padding: 3px 15px;
}