.kit-side-info {
  margin: 0px 20px;
}

.kit-side-description {
	font-weight: 200;
	margin-bottom: 20px;
	font-size: 18px;
}

.kit-side-permissions-list {
  padding: 0;
  list-style-type: none;

	li {
		font-weight: 200;
		margin-bottom: 20px;
		font-size: 18px;
	}
}