<footer class="footer">
<%= link_to '/version/1.2' do %>
  <small>MONSTER Checkout Version <%= version_number %></small>
<% end %>

<nav>
<ul>
  <li><%= link_to 'About', about_path %></li>
  <li><%= link_to 'Help', help_path %></li>
</ul>
</nav>
</footer>
